{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/transform-runtime",
    ["babel-plugin-module-resolver", {
      "root": ["./src"],
      "alias": {
        "@utils": "./src/utils",
        "@exceptions": "./src/http/exceptions",
        "@controllers": "./src/http/controllers",
        "@models": "./src/models",
        "@http": "./src/http",
        "@middlewares": "./src/http/middlewares"
      }
    }]
  ]
}